# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
.vscode
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/transpiled
/transpiled-client
/transpiled-server
/dist-client
/dist-server

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env


test*
TEST*

/packages


_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

_posts